* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background-color: rgb(61, 224, 126);
    font-family: "Arial";
}
.heading{
    height:30rem;
    text-align: center;
    padding-top:10rem;
    font-size: 8rem;
}
header {
    background-color: rgb(61, 224, 126);
}

header figure {
    text-align: center;
}

header figure img {
    margin-bottom: -3px;
}

section {
    border-color: black;
    width: 100%;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
    background-color: black;
    padding-top: 9rem;
    padding-right: 18rem;
    padding-left: 18rem;
    padding-bottom: 9rem;
}

section figure {
    height: 70vh;
    margin: 0;
    /* margin-inline-start: 0;    
    margin-inline-end: 0;    
    margin-block-start: 0;    
    margin-block-end: 0;  */
}

section figure img {
    width: 100%;
}

section figure article {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 2vh;
}

h5 {
    font-size: 3rem;
    font-weight: bolder;
    padding-top: 1.5rem;
}

a{
    background-color: crimson;
    text-decoration: none;
    padding-left: 0.5vw;
    margin-bottom: 2vh;
    border-radius: 3%;
    height:3vh;
    width: 7vw;
    color:white;
    align-content: center;
}
section figure article div {
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.whiteRow {
    background-color: white;
    color: black
}

footer {
    background-color: rgb(51, 51, 51);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1;
    padding-left: 18rem;
    color: white;
}

footer div {
    height: 25vh;
    padding: 6.5vh 0;
    font-size: 1.5rem;
    display: grid;
    align-content: flex-start;
}

footer div h1 {
    font-size: 3.5rem;
    font-weight: bold;
    padding-bottom: 1.5rem;
}

footer div p {
    height: 2.5vh;
    display: grid;
    align-content: flex-end;
}

footer div img {
    height: 150%;
}

#three{
    display: flex;
    justify-items: flex-start;
    gap: 2rem;
}

#two {
    width: 30vw;
    grid-column: 2;
}
