* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background-color: rgb(61, 224, 126);
    font-family: "Vremena Grotesk";
    background-image: url("/assets/char-2.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 31%;
    background-size: 65%;
}

header {
    font-size: 10rem;
    font-weight: bold;
    height:48vw;
    display: grid;
    justify-content: center;
    align-items:safe;
}

header figure {
    width: 100%;
    display: grid;
    justify-content: center;
}

header figure img {
    height: 50%;
    display: grid;
    align-self: flex-start;
}
section {
    width: 100%;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    background-color: black;
    padding:9rem;
}
section figure img{
    width: 100%;
}

section figure img#one{
    grid-column: 1;
    grid-row: 1;
  } 
section figure #two {
    height: 1rem;
    grid-column-start:2;
    grid-column-end:2;
    grid-row-start:1;
    grid-row-end:1
  } 
section figure img#three{
    height: 1rem;
} 