* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background-color: rgb(61, 224, 126);
    font-family: "Arial";
}
.heading {
    height: 35rem;
    text-align: center;
    padding-top: 8rem;
    font-size: 10rem;
}

header {
    background-color: rgb(61, 224, 126);
}

header figure {
    text-align: center;
}

header figure img {
    margin-bottom: -3px;
}

.cards-container {
    width: 100%;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5rem;
    background-color: black;
    padding-inline: 18rem;
    padding-bottom: 5rem;
}

.card {
    padding-top: 9rem;
    padding-bottom: 2rem;
    margin: 0;
}

.title {
    font-size: 3rem;
    font-weight: bolder;
    padding-top: 1.5rem;
    padding-bottom: 2rem;

}

.desc {
    font-size: larger;
    line-height: 150%;
    padding-bottom: 5rem;

}

.card-image {
    max-width: 100rem;
}

.card-image img {
    width: 100%;

}

.card-content {
    width: 100%;
    margin-top: -2px;
    padding-left: 1rem;
    padding-bottom: 1.5rem;
}


.card-shopping {
    background-color: rgb(250, 64, 101);
    text-decoration: none;
    padding-top: 0.25vw;
    padding-bottom: 0.25vw;
    padding-inline: 1.15vw;
    border-radius: 5px;
    height: 3vh;
    width: 7vw;
    color: white;
}


.whiteRow {
    background-color: white;
    color: black
}

footer {
    background-color: rgb(51, 51, 51);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1;
    padding-left: 18rem;
    color: white;
}

footer div {
    height: 25vh;
    padding: 6.5vh 0;
    font-size: 1.5rem;
    display: grid;
    align-content: flex-start;
}

footer div h1 {
    font-size: 3.5rem;
    font-weight: bold;
    padding-bottom: 1.5rem;
}

footer div p {
    height: 2.5vh;
    display: grid;
    align-content: flex-end;
}

footer div img {
    height: 150%;
}

#three {
    display: flex;
    justify-items: flex-start;
    gap: 2rem;
}

#two {
    width: 30vw;
    grid-column: 2;
}